  // * {
      // margin: 0;
       //padding: 0;
 //}
   
   body {
       margin: 0;
       padding: 0;
   }
    .main-wrapper {
        width: 1150px;
        padding: 0px 30px;
        margin:  0 auto;
        position: relative;
        font-family:  Verdana, sans-serif;
    }

    .layout {
        padding: 0 50px;
    }