$top-panel-color: #ffffff;
$main-bg-color: #ffffff;
$light-gray-bg: #f9f9f9;
$footer-color: #f1f1f1;
$strong-text-color: #000000;
$light-text-color: #444444;
$border-color: #ececec;

$link-hover: #8d8d8d;
$link-active: #cacaca;

